[submodule "themes/ananke"]
	path = themes/ananke
	url = https://github.com/theNewDynamic/gohugo-theme-ananke.git
[submodule "themes/devise"]
	path = themes/devise
	url = https://github.com/austingebauer/devise.git
